@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

.header {
  font-family: "Fascinate Inline", system-ui;
  background-color: $text-secondary;
  font-size: $font-size-xl;
  line-height: $line-height-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;

  a {
    color: $white;
    text-decoration: none;
  }
}
