@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

.header {
  font-family: "Fascinate Inline", system-ui;
  background-color: $text-secondary;
  color: $white;
  font-size: $text-large;
  line-height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
}
