$white: #fff;
$background-color: #f1f3f8;

$text-primary: #111523;
$text-secondary: #e20074;
$text-danger: #f44336;

$placeholder-color: rgba(17,21,35, 0.4);

$text-small: 0.75rem;
$text-normal: 1rem;
$text-medium: 1.25rem;
$text-large: 1.5rem;
